<section class="skills" @listStagger>
    <h1>Skills</h1>

    <div class="skill-category">
        <h2>Frontend</h2>
        <ul>
            <li *ngFor="let skill of skills.frontend">{{ skill }}</li>
        </ul>
    </div>

    <div class="skill-category">
        <h2>Backend</h2>
        <ul>
            <li *ngFor="let skill of skills.backend">{{ skill }}</li>
        </ul>
    </div>

    <div class="skill-category">
        <h2>Tooling</h2>
        <ul>
            <li *ngFor="let skill of skills.tooling">{{ skill }}</li>
        </ul>
    </div>

    <div class="skill-category">
        <h2>Testing</h2>
        <ul>
            <li *ngFor="let skill of skills.testing">{{ skill }}</li>
        </ul>
    </div>
</section>