<nav class="navbar">
  <ul class="navbar__links">
    <app-nav-item
      sectionName="about"
      label="About"
      [activeSection]="activeSection"
      (sectionClicked)="onClick($event)"
    ></app-nav-item>

    <app-nav-item
      sectionName="experience"
      label="Experience"
      [activeSection]="activeSection"
      (sectionClicked)="onClick($event)"
    ></app-nav-item>

    <app-nav-item
      sectionName="projects"
      label="Projects"
      [activeSection]="activeSection"
      (sectionClicked)="onClick($event)"
    ></app-nav-item>
  </ul>

  <!-- <button class="theme-btn" (click)="toggleTheme()">🌓</button> -->
</nav>
