.about {
    // padding: 0px 2rem 5rem;
    // ;
    // max-width: 800px;
    // margin: 0 auto;

    h1 {
        color: var(--accent);
        margin-bottom: 1rem;
    }

    p {
        line-height: 1.6;
        margin-bottom: 2rem;
    }

    .details div {
        margin-bottom: 0.8rem;
    }
}