//  @media (min-width: 1024px) {
//      .page {
//          max-width: 1024px
//      }
//  }

//  @media (min-width: 1280px) {
//      .page {
//          max-width: 1280px
//      }
//  }

//  .page {
//      max-width: 1280px;
//      box-sizing: border-box;
//      margin: 0 auto;

//      display: flex;
//      gap: 1rem;


//      &__left {
//          padding: 6rem 0px 3rem;
//          width: 48%;
//          display: flex;
//          flex-direction: column;
//          position: sticky;
//          top: 0;
//          max-height: 100vh;
//          justify-content: space-between;
//          box-sizing: border-box;
//      }

//      &__right {
//          padding: 6rem 0px;
//          display: flex;
//          width: 52%;
//          min-height: 100vh;
//      }

//      &__hero-section {
//          h1 {
//              font-size: 3rem;
//              line-height: 1;
//              margin: 0px;
//          }

//          h2 {
//              font-size: 1.25rem;
//              line-height: 1.75rem;
//              margin: 0px;
//              margin-top: 12px;
//          }

//          p {
//              margin-top: 16px;
//              line-height: 1.5rem;
//              max-width: 20rem;
//          }
//      }
//  }