.footer {
    color: var(--text);
    font-size: 0.9rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    &___socials {
        display: inline-flex;
        gap: 10px;
        margin-bottom: 0.5rem;
    }

    &___socials {
        display: inline-flex;
        gap: 10px;
        margin-bottom: 0.5rem;
    }

    a {
        font-weight: 600;
        text-decoration: none;
    }
}