<!-- <footer class="footer">

    <div class="footer__socials">

    </div>
    <div class="footer__text">
        <p>Built with Angular 💻 - Template by <a href="https://brittanychiang.com/" target="_blank">Brittany Chiang</a>
        </p>
    </div>

</footer> -->

<footer class="max-w-md pb-16 text-sm text-neutral-500 sm:pb-0">
    <p>
        Template by
        <a class="font-medium hover:text-cyan-300 lg:focus-visible:text-cyan-300 text-neutral-400"
            href="https://brittanychiang.com/" target="_blank">Brittany Chiang</a>
        and coded in
        <a href="https://code.visualstudio.com/"
            class="font-medium text-neutral-400 hover:text-cyan-300 focus-visible:text-cyan-300" target="_blank"
            rel="noreferrer noopener" aria-label="Visual Studio Code (opens in a new tab)">Visual Studio Code</a>. Built
        with
        <a href="https://angular.dev/"
            class="font-medium text-neutral-400 hover:text-cyan-300 focus-visible:text-cyan-300" target="_blank"
            rel="noreferrer noopener" aria-label="Angular (opens in a new tab)">Angular</a>
        and
        <a href="https://tailwindcss.com/"
            class="font-medium text-neutral-400 hover:text-cyan-300 focus-visible:text-cyan-300" target="_blank"
            rel="noreferrer noopener" aria-label="Tailwind CSS (opens in a new tab)">Tailwind CSS</a>, deployed with
        <a href="https://github.com/"
            class="font-medium text-neutral-400 hover:text-cyan-300 focus-visible:text-cyan-300" target="_blank"
            rel="noreferrer noopener" aria-label="Vercel (opens in a new tab)">Github Actions and Github Pages</a>.
    </p>
</footer>