.projects {
    padding: 0px 2rem 5rem;
    margin: 0 auto;

    h1 {
        color: var(--accent);
        margin-bottom: 2rem;
    }

    p {
        color: var(--text);
        font-weight: 500;
    }

    .project-grid {
        display: grid;
        gap: 1.5rem;
    }

    .project-card {
        --pill-bg: var(--pill-bg-color);
        padding: 1rem;
        border-radius: 8px;
        transition: transform 0.3s;
        cursor: pointer;
        background-color: var(--card-bg);
        border: 2px solid transparent;

        &:hover {
            transform: translateY(-5px);
            background: var(--card-bg-hover);
            --pill-bg: var(--pill-bg-hover);

        }

        h3 {
            margin: 0;
            color: var(--accent);
        }

        p {
            margin: 5px 0px;
            color: var(--secondary);
        }

        .links {
            margin-top: 1rem;

            a {
                margin-right: 1rem;
                text-decoration: none;
                color: var(--text);
            }
        }
    }

    .tech-contaner {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 5px;
    }

    .pill {
        background: var(--pill-bg);
        color: var(--text);
        padding: 0.25rem 0.75rem;
        border-radius: 9999px;
        font-size: 0.8rem;
        line-height: 1.25rem;
        font-weight: 500;
    }
}