/* You can add global styles to this file, and also import other style files */
:root {
    --text: #CDD6E5;
    --accent: #E3EAF6;
    --secondary: #A3A8C4;
    --card: #2f2f31;
    --bg: #0D1628;
    --pill-bg-color: #121C2F;
    --pill-bg-hover: #1A2742;
    // --card-bg-hover: #24314C;

    --card-bg-hover: rgba(30, 41, 59, .5)
}

[data-theme='light'] {
    --bg: #F4F7FA;
    --pill-bg-color: #E3E9F1;
    --pill-bg-hover: #D9E1EB;
    --card-bg-hover: rgba(237, 242, 247, 0.8);
    --text: #2C3E50;
    --accent: #1A2F45;
    --card: #FFFFFF;
    --secondary: #6A7A8A;
}


// :root {
//   --bg-color: #FAFAFA;
//   --text-primary: #2C3E50;
//   --text-secondary: #7F8C8D;
//   --accent-color: #2978B5;
//   --highlight-color: #E67E22;
//   --border-color: #DADFE1;
//   --success-color: #27AE60;
//   --error-color: #C0392B;
// }

/* Dark Theme */
// [data-theme="dark"] {
//   --bg-color: #1E1E2F;
//   --text-primary: #E3E6F3;
//   --text-secondary: #A3A8C4;
//   --accent-color: #5AA9E6;
//   --highlight-color: #F5A962;
//   --border-color: #3C4063;
//   --success-color: #6BD47E;
//   --error-color: #E77979;
// }

html {
    scroll-behavior: smooth;
}

body {
    background: var(--bg);
    color: var(--text);
    // font-family: 'Inter', sans-serif;
    font-family: 'Inter', 'Segoe UI';
    margin: 0;
}

.fade-in {
    animation: fadeIn 0.4s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


h1 {
    margin: 0px;
}

.cursor-highlight {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 0;
    background: radial-gradient(600px at 50% 50%,
            rgba(29, 78, 216, 0.15),
            transparent 80%);
    transition: background 0.1s linear;
}

a {
    color: inherit;

}