@use './tailwind.css';

:root {
  --text: #cdd6e5;
  --accent: #e3eaf6;
  --secondary: #a3a8c4;
  --card: #2f2f31;
  --bg: #101414;
  --pill-bg-color: #121c2f;
  --pill-bg-hover: #1a2742;

  --card-bg-hover: rgba(30, 41, 59, 0.5);
}

[data-theme='light'] {
  --bg: #f4f7fa;
  --pill-bg-color: #e3e9f1;
  --pill-bg-hover: #d9e1eb;
  --card-bg-hover: rgba(237, 242, 247, 0.8);
  --text: #2c3e50;
  --accent: #1a2f45;
  --card: #ffffff;
  --secondary: #6a7a8a;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
  margin: 0;
}

.fade-in {
  animation: fadeIn 0.4s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  margin: 0px;
}

.cursor-highlight {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 0;
  background: radial-gradient(600px at 50% 50%, rgba(179, 184, 197, 0.15), transparent 80%);
  transition: background 0.1s linear;
}
